/* * {
background-color: var(--secondary-color);
} */

:root {
    --primary-color: #E50914;
    --secondary-color: #221F1F;
    --tertiary-color: #F5F5F1;

}

#navbar {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: bold;
}

.featured {
    z-index: -1;
    border: none;
    color: var(--tertiary-color);
    position: relative;
    display: inline-block;
}

.featured img {
    position: absolute;
    top: 0;
    z-index: -2;
    border-radius: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;


}
#featuredMovieBtn{
    width: 8rem;
}


.modalCard {
    text-shadow: black 2px 2px 2px;
    background-color: rgba(00, 00, 00, 0.4);
    height: 20rem;
    
}

/* Cambie el nombre card-body por modalCard para no pisar estilos de bootstrap */

/* marked-title{
    position: ;
} */

/* a {
    text-decoration: none;
    color: var(--tertiary-color);
} */

.categorias{
    display: flex ;
    justify-content:space-around;
    z-index: -2;
}
.imgCard{
    width: 250px;
    height: 330px;
}

.linkCategorias{
    color: #221F1F;
    z-index: -1;
}
.linkCategorias:hover{
    cursor: pointer;
}
/* 
main {
    background-color:var(--secondary-color);
    color:var(--tertiary-color);
} */

/* .contenedorCategorias {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}  */